<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	
	<bean id="address" class="Address" scope = "prototype">
	<property name="street" value="Street Number : 1" ></property>
	<property name="block" value="Block 1" ></property>
	<property name="pinCode" value="110001" ></property>
	</bean>
	
	<bean id="employee" class="Employee" scope = "prototype">
		<property name="address" ref="address" ></property>
	
	</bean>
	
	
</beans>