<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	
	<bean id="address" class="Address" scope = "prototype">
	<property name="street" value="Street Number : 1" ></property>
	<property name="block" value="Block 1" ></property>
	<property name="pinCode" value="110001" ></property>
	</bean>
	
	<bean id="employee" class="Employee" scope = "singleton">
		<constructor-arg index="0" value = "1"></constructor-arg>
		<constructor-arg index="1" value = "Employee Name -1"></constructor-arg>
		<constructor-arg index="2" ref="address"></constructor-arg>
	
	</bean>
	
	<bean id="student" class="Student" scope = "prototype">
	
		<property name="marks">
			<set>
				<value>80</value>
				<value>70</value>
				<value>60</value>
				<value>50</value>
			</set>
		</property>
	
	</bean>
	
	
</beans>